@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

h1{
	font-size: 50px;
}

p {
	font-size: 20px;
}

.container { /*가로정렬*/
	font-family: "Noto Sans KR", sans-serif;
	width:700px; 
	left:0; 
	right:0; 
	margin-left:auto; 
	margin-right:auto;
}

hr {
	border : solid 1px #eee;
}

div #box1 {
	font-size: 25px;
	width: 50%;
	float: left;

}

div #box2 {
	font-size: 18px;
	width: 50%;
	float: right;
}

div .resume_box {
	overflow: hidden;
}

div .skill_box{
	overflow: hidden;
}

div #skill_1 {
	color: #1F4FDE;
	width: 110px;
	padding: 10px;
	text-align: center;
	float: left;
	border: solid 1px #1F4FDE;
	border-radius: 20px;

}

div #skill_2 {
	color: #1F4FDE;
	width: 110px;
	padding: 10px;
	margin-left: 10px;
	float: left;
	text-align: center;
	border: solid 1px #1F4FDE;
	border-radius: 20px;

}





